* body {
  margin: 0;
  padding: 0;
}

.game {
  height: 893px;
  width: 1880px;
  display: grid;
  grid-template-columns: repeat(40, 47px);
  grid-template-rows: repeat(19, 47px);
  position: relative;
}

.player {
  background-image: url(/Img/Base-pack/Player/p3_front.png);
  background-repeat: no-repeat;
  background-size: 57px;
  position: absolute;
  bottom: 0;
}

.platforms  {
  background-size: 47px;
}

.walls {
  background-size: 47px;
}

.exit {
  background-image: url(/Img/Base-pack/Tiles/door_closedMid.png),url(/Img/Base-pack/Tiles/door_closedTop.png);
  background-size: 47px;
  background-position: right bottom, left top;
  background-repeat: no-repeat;
}




.grass {
  background-image: url(/Img/Base-pack/bg.png);
}

.grass .platforms {
  background-image: url(/Img/Base-pack/Tiles/grassMid.png);
}

.grass .walls {
  background-image: url(/Img/Base-pack/Tiles/grassCenter.png);
}

